<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://kit.fontawesome.com/3888ffbbfa.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <section>
            <h2>freelance portfolio</h2>
            <nav>
                <button>menu<i class="fa-solid fa-bars"></i></button>
            </nav>
            <img src="images/profile.png" alt="">
            <h1>freelance portfolio</h1>
            <h3>Web Developer - Graphic Artist - User Experience Designer</h3>
        </section>
    </header>

    <main>
        <section>
            <h2>portfolio</h2>
            <img src="images/cabin.png" alt="">
            <img src="images/cake.png" alt="">
            <img src="images/circus.png" alt="">
            <img src="images/game.png" alt="">
            <img src="images/safe.png" alt="">
            <img src="images/submarine.png" alt="">
        </section>
        <section>
            <h2>about</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. In facilis cupiditate doloremque, veritatis quidem ullam porro quaerat, sapiente hic magni eius tempore itaque provident nemo modi nostrum iste debitis odio?
            Cumque voluptates libero esse sint accusamus fugiat perspiciatis id blanditiis, voluptatum totam excepturi ut cum molestiae itaque nostrum nisi, nemo, velit quam minima. Ea perferendis minus ducimus optio autem officia?
            Facere necessitatibus fuga consequuntur temporibus nemo eius distinctio mollitia soluta. Harum sequi natus modi dolor. Blanditiis mollitia reprehenderit repudiandae ratione debitis hic. Id quasi doloremque aut quos nesciunt provident vitae.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et ab tempora incidunt a voluptate officiis sunt suscipit asperiores accusantium, modi nesciunt eos tempore vero excepturi. Delectus eum consequatur iusto minima!
            Quia eius odit esse itaque ipsum temporibus, odio autem. Repudiandae eum unde maxime a ea accusantium aperiam voluptatibus dolores sint? Amet provident repellat debitis neque veniam consequatur, asperiores architecto itaque.</p>
            <button><i class="fa-solid fa-download"></i>Download Now!</button>
        </section>
        <form action="" method="get">
            <div>
                <h2>Contact me</h2>
            </div>
            <div>
                <label for="name">Name</label>
                <input type="text">
            </div>
            <div>

            </div>
            <div>

            </div>
            <div>

            </div>
            <div>

            </div>
        </form>
    </main>

    <footer>
        <section>
            
        </section>
    </footer>
</body>
</html>